.product-card {
    width: 250px;
    min-height: 550px;
    max-height: 550px;
    
    border-radius: 8px;
 
 
  
    .product-image {
      height: 250px;
    }
    h5{
        text-align: initial;
    }
  }
  